<h3><%= @customer.full_name %> has just placed their first order, call him tomorrow and get feedback</h3>

<p>
	<b>Customer Name:</b> <%= @customer.full_name %>	<br>
	<b>Customer Email:</b>  <%= @customer.email %>	<br>
	<b>Customer Mobile Number:</b>  <%= @customer.mobile_number %>	<br>
</p>