<h3>There has been a new Customer Sign up.</h3>

<p>
	<b>Customer Name:</b> <%= @customer.full_name %>	<br>
	<b>Customer Email:</b>  <%= @customer.email %>	<br>
	<b>Customer Mobile Number:</b>  <%= @customer.mobile_number %>	<br>
	<b>Sign Up Date:</b>  <%= @customer.created_at %>	<br>
</p>